@charset "UTF-8";

.menubar {
    background-color: black;
    width:100%;
    vertical-align: middle;
    height: 100px;
}

.menubar-logo {
    color: white;
    padding: 10px 30px 10px 30px;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    cursor: hand;
}

.menubar-links {
    float: right;
    height: 50px;
    width: 100%;
    text-align: center;
}

.menubar-item {
    color: white;
    padding: 14px 30px 14px 30px;
    height: 100%;
    font-size: 16px;
    cursor: hand;
    display: inline-block;
}

.menubar-item.active {
    background-color: #4c4c4c;
    color: white;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.searchMain {
    text-align: center;
}

.react-autosuggest__container {
    position: relative;
    display: inline-block;
    margin-top: -10px;
}

.react-autosuggest__input {
    width: 500px;
    height: 60px;
    padding: 10px;
    margin: 20px;
    font-weight: 300;
    font-size: 18px;
    border: 3px solid rgba(0, 0, 0, .5);
    border-radius: 4px;
    color: #000;
    background-color: #fff;
}

.react-autosuggest__input::placeholder {
    color: #777;
    opacity: 1;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input:disabled {
    background-color: #eeeeee;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    position: absolute;
    left: 20px;
    top: 80px;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    width: 500px;
    border: 1px solid #eee;
    z-index: 1;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #eee;
    width: 500px;
    white-space: nowrap;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.react-autosuggest__container .result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 80%;
}

.react-autosuggest__container .highlight {
    background-color: yellow;
    padding: 4px;
    border-radius: 2px;
}

@media (max-width: 600px) {
    .react-autosuggest__input {
        width: 300px;
    }

    .react-autosuggest__input {
        width: 300px;
    }

    .react-autosuggest__suggestion {
        width: 300px;
    }
}

@media (max-width: 767px) {
    .word-sphere {
        visibility: hidden;
    }
}